header{
    text-align: center;
    text-decoration: underline;
}

body{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    background-image: url(../assets/110419_190411_0004.jpg);
    width: 100%;
    height: 100%;
    /* background-size: 100%; */
}

table tr td {
    background-color: #00abee25;
}

button{
    /* list-style-image: -moz-repeating-linear-gradient(center); */
    background-color: grey;
    border-color: black;
    color: whitesmoke;
    font-size: 12px;  
    padding:  15px 15px;
}
button:visited{
    color:whitesmoke;    
}
button:hover{
    color: whitesmoke;
    text-decoration: underline;
    font-size: small;   
}

.id{
    border-radius: 50%;
}

.img1 .img2 .img3 .img4 .img5 .img6 .img7 .img8{
    width: 100;
    height: 0.9em;
    object-fit: contain;
    align-content: middle;
}
